.fwd-contact-section{
    padding: 3rem;
}

.fwd-map-section {
    padding: 0;
}

.get_directions_button {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

#fwdic{
    visibility: hidden;
}

.fwd-timeline-image {
    border: 4px solid #fed136 !important;
    border-radius: 10% !important;
}

.fwd-rounded-circle {
    background: white;
    border-radius: 8% !important;
}