.fwd-contact-section{
    padding: 3rem;
}

.fwd-map-section {
    padding: 0;
}

.get_directions_button {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

#fwdic{
    visibility: hidden;
}

.fwd-timeline-image {
    /*border: 4px solid #fed136 !important;*/
    /*border-radius: 10% !important;*/
    margin: auto;
}

.fwd-rounded-circle {
    background: #fed136;
    border-radius: 8% !important;
}

.fwd-main-nav {
    background-color: #fed136 !important;
    /*background-color: #4D93FB !important;*/
}

.fwd-family-text {
    color: white !important;
}

.fwd-nav-link:hover {
    color: black !important;
}

.fwd-shade-text {
    color: #fed136;
    text-shadow: 3px 3px black;
}

.fwd-telephone {
    color: inherit;
    text-decoration: inherit !important;
}

.fwd-address {
    color: inherit;
    text-decoration: inherit !important;
}

#fwd-contact-text {
    height: 100%;
    color: white;
    text-align: center;
}

.fwd-icons:hover {
    background-color: #fed136;
}

#sendMessageButton {
    width: 100%;
}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl {
    max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box {
    position: relative;
    display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(254, 209, 54, .9);
    transition: opacity 0.25s ease;
    text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

#about-us .about-us-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}
#about-us .about-us-item .about-us-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#about-us .about-us-item .about-us-link .about-us-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
#about-us .about-us-item .about-us-link .about-us-hover .about-us-hover-content {
    font-size: 1.25rem;
    color: white;
}
#about-us .about-us-item .about-us-link:hover .about-us-hover {
    opacity: 1;
}
#about-us .about-us-item .about-us-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
}
#about-us .about-us-item .about-us-caption .about-us-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
}
#about-us .about-us-item .about-us-caption .about-us-caption-subheading {
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.about-us-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}
.about-us-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}
.about-us-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
}
.about-us-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.about-us-modal .modal-content p {
    margin-bottom: 2rem;
}
.about-us-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
}
.about-us-modal .modal-content img {
    margin-bottom: 2rem;
}
.about-us-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}
.about-us-modal .close-modal:hover {
    opacity: 0.3;
}

/* Media Adjustments */
@media (min-width: 768px) {
    .fwd-modal-dialog {
        margin: 10rem !important;
    }
}